<!DOCTYPE html>
<html lang="{{ with .Site.Params.isoCode | default (.Site.LanguageCode | default "en") }}{{- . -}}{{ end }}" dir="{{ if .Site.Params.rtl | default false }}rtl{{ else }}ltr{{ end }}"
  class="scroll-smooth"
  data-default-appearance="{{ .Site.Params.defaultAppearance | default "light" }}"
  data-auto-appearance="{{ .Site.Params.autoSwitchAppearance | default "true" }}">
  
  {{- partial "head.html" . -}}

  <body class="bg-neutral text-neutral-900 dark:bg-neutral-800 dark:text-neutral">

    <!-- Layout container to center all content -->
    <div class="flex flex-col min-h-screen w-full max-w-7xl mx-auto px-6 sm:px-14 md:px-24 lg:px-32 scrollbar-thin scrollbar-track-neutral-200 scrollbar-thumb-neutral-400 dark:scrollbar-track-neutral-800 dark:scrollbar-thumb-neutral-600">

      <div id="the-top" class="absolute flex self-center">
        <a class="px-3 py-1 text-sm -translate-y-8 rounded-b-lg bg-primary-200 focus:translate-y-0 dark:bg-neutral-600"
          href="#main-content">
          <span class="font-bold text-primary-600 ltr:pr-2 rtl:pl-2 dark:text-primary-400">&darr;</span>{{ i18n "nav.skip_to_main" }}
        </a>
      </div>

      {{ $layout := default "basic" .Site.Params.header.layout }}
      {{ $exists := printf "partials/header/%s.html" $layout }}
      {{ $call   := printf "header/%s.html" $layout }}
      {{ if templates.Exists $exists }}
        {{ partial $call . }}
      {{ else }}
        {{ partial "header/basic.html" . }}
      {{ end }}

      <div class="relative flex flex-col grow">
        <main id="main-content" class="grow pb-[120px]">
          {{ block "main" . }}{{ end }}
          {{ if and (.Site.Params.footer.showScrollToTop | default true) (gt .WordCount 1) }}
            {{- partial "scroll-to-top.html" . -}}
          {{ end }}
        </main>

        {{- partial "footer.html" . -}}

        {{ if .Site.Params.enableSearch | default false }}
          {{- partial "search.html" . -}}
        {{ end }}
      </div>

    </div> <!-- End container -->

    <script
      async
      src="https://widget.kapa.ai/kapa-widget.bundle.js"
      data-website-id="10bca275-31d7-43dc-a7d7-160913512ad4"
      data-project-name="Developer Portal"
      data-project-color="#38393a"
      data-project-logo="{{ "logo-ai.webp" | relURL }}"
      data-button-image="{{ "logo-ai-new.webp" | relURL }}"
      data-modal-disclaimer="This custom large language model (LLM), trained on official documentation from espressif.com, is designed to provide technical support and answers related to Espressif’s products and services. Give it a try, share your thoughts, and let us know your feedback—we truly appreciate it! 
\n\n*Note*: AI-generated information may be incomplete or inaccurate. Always verify critical information with official sources."
      data-modal-example-questions="How do I put an ESP32-DevkitC into download mode?"
      data-button-text-font-size="0px"
      data-button-border-radius="50%"
      data-button-bg-color="#38393a"
      data-button-border="#38393a"
      data-button-height="52px"
      data-button-width="52px"
      data-button-animation-enabled="false"
      data-button-image-height="100%"
      data-button-image-width="100%"
      data-button-padding="0"
      data-button-hover-animation-enabled="false"
      data-button-position-right="16px"
      data-button-position-bottom="96px"
      data-button-box-shadow="0px 6px 12px 1px rgba(0,0,0,0.16)"
      data-bot-protection-mechanism="hcaptcha"
    ></script>
  </body>
</html>
