{
    "ADC_CALI_SUPPRESS_DEPRECATE_WARN": false,
    "BT_ENABLED": true,
    "BT_NIMBLE_ENABLED": true,
    "BT_NIMBLE_SECURITY_ENABLE": true,
    "BT_NIMBLE_SM_LEGACY": true,
    "BT_NIMBLE_SM_SC": true,
    "COMPILER_OPTIMIZATION_DEBUG": true,
    "ESP_WIFI_ENABLED": true,
    "ESP_WIFI_ENTERPRISE_SUPPORT": true,
    "ESP_WIFI_WPA3_SAE": true,
    "ESP_TLS_USING_MBEDTLS": true,
    "ESP_TLS_USE_DS_PERIPHERAL": true,
    "SECURE_BOOT_V2_ENABLED": true,
    "SECURE_BOOT_V2_RSA_ENABLED": true,
    "SECURE_FLASH_ENC_ENABLED": true,
    "SECURE_FLASH_ENCRYPTION_MODE_RELEASE": true,
    "NVS_ENCRYPTION": true,
    "NVS_SEC_KEY_PROTECT_USING_FLASH_ENC": true,
    "MBEDTLS_HARDWARE_AES": true,
    "MBEDTLS_HARDWARE_SHA": true,
    "MBEDTLS_HARDWARE_MPI": true,
    "MBEDTLS_ECDSA_C": true,
    "MBEDTLS_ECDH_C": true,
    "MBEDTLS_ECP_C": true,
    "MBEDTLS_GCM_C": true,
    "MBEDTLS_CCM_C": true,
    "MBEDTLS_AES_C": true,
    "MBEDTLS_SHA512_C": true,
    "ESP_DEFAULT_CPU_FREQ_MHZ": 160,
    "ESPTOOLPY_FLASHSIZE": "4MB",
    "IDF_TARGET": "esp32c3"
}
