:root {
    --color-neutral: 255, 255, 255;
    /* Gray */
    --color-neutral-50:  238, 243, 246;
    --color-neutral-100: 222, 231, 237;
    --color-neutral-200: 189, 208, 219;
    --color-neutral-300: 156, 184, 201;
    --color-neutral-400: 122, 160, 184;
    --color-neutral-500:  89, 136, 166;
    --color-neutral-600:  71, 109, 133;
    --color-neutral-700:  54,  82,  99;
    --color-neutral-800:  36,  55,  66;
    --color-neutral-900:  18,  27,  33;
    /* Red */
    --color-primary-0:   252, 233, 232;
    --color-primary-50:  250, 211, 209;
    --color-primary-100: 247, 189, 186;
    --color-primary-150: 245, 167, 163;
    --color-primary-200: 242, 145, 140;
    --color-primary-250: 240, 123, 117;
    --color-primary-300: 237, 101,  94;
    --color-primary-350: 235,  80,  71;
    --color-primary-400: 232,  58,  48;
    --color-primary-450: 230,  36,  25;
    --color-primary-500: 207,  32,  23;
    --color-primary-550: 184,  29,  20;
    --color-primary-600: 161,  25,  18;
    --color-primary-650: 138,  21,  15;
    --color-primary-700: 115,  18,  13;
    --color-primary-750:  92,  14,  10;
    --color-primary-800:  69,  11,   8;
    --color-primary-850:  46,   7,   5;
    --color-primary-900:  23,   4,   3;
    --color-primary-950:   0,   0,   0;
    /* Cyan */
    --color-secondary-50:  241, 238, 246;
    --color-secondary-100: 228, 222, 237;
    --color-secondary-200: 201, 189, 219;
    --color-secondary-300: 174, 156, 201;
    --color-secondary-400: 147, 122, 184;
    --color-secondary-500: 120,  89, 166;
    --color-secondary-600:  96,  71, 133;
    --color-secondary-700:  72,  54,  99;
    --color-secondary-800:  48,  36,  66;
    --color-secondary-900:  24,  18,  33;
  }

  /*
  #e7352c RED
  #674d8e Purple
  #384f7a Blue
  #2f4858 Grey
  */
