{{ $hasEspressifAuthor := false }}
{{ $hasNonEspressifAuthor := false }}
{{ range $author := .Page.Params.authors }}
  {{ $authorType := "espressif" }}
  {{ with index site.Data.authors $author }}
    {{ with .type }}
      {{ $authorType = lower . }}
    {{ end }}
  {{ end }}
  {{ if eq $authorType "espressif" }}
    {{ $hasEspressifAuthor = true }}
  {{ else if or (eq $authorType "community") (eq $authorType "partner") }}
    {{ $hasNonEspressifAuthor = true }}
  {{ end }}
{{ end }}

{{ if and $hasNonEspressifAuthor (not $hasEspressifAuthor) }}
  <div class="mb-5 flex w-full rounded-md px-4 py-3" style="background-color: #b3e0f2;">
    <span class="pe-3 flex items-center" style="color: #04a5e5;">
      {{ partial "icon.html" "circle-info" }}
    </span>
    <span class="dark:text-neutral-300">
      {{ i18n "article.disclaimer.third_party_author" | markdownify }}
    </span>
  </div>
{{ end }}
