<div style="padding-left:0;padding-right:0;padding-top:2px;padding-bottom:3px"
    class="main-menu flex flex-wrap items-center justify-between px-4 py-6 sm:px-6 md:justify-start space-x-3">

    {{ if .Site.Params.Logo }}
    {{ $logo := resources.Get .Site.Params.Logo }}
    {{ if $logo }}
    {{ $scalingFactor := 0.125 }} <!-- Adjust this variable to change the scaling factor -->

    <div>
        <a href="{{ "" | relLangURL }}" class="flex">
            <span class="sr-only">{{ .Site.Title | markdownify | emojify }}</span>

            <img src="{{ $logo.RelPermalink }}"
                width="{{ mul $logo.Width $scalingFactor }}"
                height="{{ mul $logo.Height $scalingFactor }}"
                class="logo max-h-{{ printf "[%grem]" (mul 5 $scalingFactor) }} max-w-{{ printf "[%grem]" (mul 5 $scalingFactor) }} object-scale-down object-left nozoom"
                alt="{{ .Site.Title }}" />
        </a>
    </div>
    {{ end }}
    {{- end }}

    <div class="flex flex-1 items-center justify-between w-full md:w-auto">
        <nav class="flex space-x-3">

            {{ if not .Site.Params.disableTextInHeader | default true }}
            <a href="{{ "" | relLangURL }}" class="text-base font-medium text-gray-500 hover:text-gray-900">{{
                .Site.Title | markdownify
                | emojify }}</a>
            {{ end }}

        </nav>
        <nav class="hidden md:flex items-center space-x-5 md:ml-12 h-12">

            {{ if .Site.Menus.main }}
            {{ range .Site.Menus.main }}
            {{ partial "header/header-option.html" . }}
            {{ end }}
            {{ end }}

            {{ partial "translations.html" . }}

            {{ if .Site.Params.enableSearch | default false }}
            <button id="search-button" aria-label="Search" class="text-base hover:text-primary-600 dark:hover:text-primary-400 h-12"
                title="{{ i18n " search.open_button_title" }}">
                {{ partial "icon.html" "search" }}
            </button>
            {{ end }}


            {{/* Appearance switch */}}
            {{ if .Site.Params.footer.showAppearanceSwitcher | default false }}
            <div
                class="{{ if .Site.Params.footer.showScrollToTop | default true -}} ltr:mr-14 rtl:ml-14 {{- end }} cursor-pointer text-sm text-neutral-700 hover:text-primary-600 dark:text-neutral dark:hover:text-primary-400">
                <button id="appearance-switcher" aria-label="Dark mode switcher" type="button">
                    <div class="flex items-center justify-center h-12 dark:hidden">
                        {{ partial "icon.html" "moon" }}
                    </div>
                    <div class="items-center justify-center hidden h-12 dark:flex">
                        {{ partial "icon.html" "sun" }}
                    </div>
                </button>
            </div>
            {{ end }}

        </nav>
    </div>

    <div class="w-full flex flex-wrap justify-between md:hidden mt-2 space-y-2">
        <div class="flex items-center space-x-5 ml-auto">

            {{ partial "translations.html" . }}

            {{ if .Site.Params.enableSearch | default false }}
            <button id="search-button-mobile" aria-label="Search" class="text-base hover:text-primary-600 dark:hover:text-primary-400"
                title="{{ i18n " search.open_button_title" }}">
                {{ partial "icon.html" "search" }}
            </button>
            {{ end }}

            {{/* Appearance switch */}}
            {{ if .Site.Params.footer.showAppearanceSwitcher | default false }}
            <button id="appearance-switcher-mobile" aria-label="Dark mode switcher" type="button" style="margin-right:5px">
                <div class="flex items-center justify-center h-12 dark:hidden">
                    {{ partial "icon.html" "moon" }}
                </div>
                <div class="items-center justify-center hidden h-12 dark:flex">
                    {{ partial "icon.html" "sun" }}
                </div>
            </button>
            {{ end }}

            <label id="menu-button" class="block">
                {{ if .Site.Menus.main }}
                <div class="cursor-pointer hover:text-primary-600 dark:hover:text-primary-400">
                    {{ partial "icon.html" "bars" }}
                </div>
                <div id="menu-wrapper" style="padding-top:5px;"
                    class="fixed inset-0 z-30 invisible w-screen h-screen m-0 overflow-auto transition-opacity opacity-0 cursor-default bg-neutral-100/50 backdrop-blur-sm dark:bg-neutral-900/50">
                    <ul
                        class="flex space-y-2 mt-3 flex-col items-end w-full px-6 py-6 mx-auto overflow-visible list-none ltr:text-right rtl:text-left max-w-7xl menu-ul">

                        <li id="menu-close-button">
                            <span
                                class="cursor-pointer inline-block align-text-bottom hover:text-primary-600 dark:hover:text-primary-400 menu-close">{{
                                partial "icon.html" "xmark" }}
                            </span>
                        </li>

                        {{ range .Site.Menus.main }}

                        {{ partial "header/header-mobile-option.html" . }}

                        {{ end }}

                    </ul>
                    {{ if .Site.Menus.subnavigation }}
                    <hr>
                    <ul
                        class="flex mt-4 flex-col items-end w-full px-6 py-6 mx-auto overflow-visible list-none ltr:text-right rtl:text-left max-w-7xl">


                        {{ range .Site.Menus.subnavigation }}
                        <li class="mb-1">
                            <a href="{{ .URL }}" {{ if or (strings.HasPrefix .URL "http:" ) (strings.HasPrefix .URL "https:"
                                ) }} target="_blank" {{ end }} class="flex items-center">
                                {{ if .Pre }}
                                <span {{ if and .Pre .Name}} class="mr-3" {{ end }}>
                                    {{ partial "icon.html" .Pre }}
                                </span>
                                {{ end }}
                                <p class="text-sm font-sm text-gray-500 hover:text-gray-900" title="{{ .Title }}">
                                    {{ .Name | markdownify | emojify }}
                                </p>
                            </a>
                        </li>
                        {{ end }}

                    </ul>
                    {{ end }}
                    {{ end }}

                </div>
            </label>
        </div>
    </div>
</div>

{{ if .Site.Menus.subnavigation }}
<div class="main-menu flex pb-3 flex-col items-end justify-between md:justify-start space-x-3" {{ if .Site.Params.Logo
    }} style="margin-top:-15px" {{ end }}>
    <div class="hidden md:flex items-center space-x-5">
        {{ range .Site.Menus.subnavigation }}
        <a href="{{ .URL }}" {{ if or (strings.HasPrefix .URL "http:" ) (strings.HasPrefix .URL "https:" ) }}
            target="_blank" {{ end }} class="flex items-center">
            {{ if .Pre }}
            <span {{ if and .Pre .Name}} class="mr-1" {{ end }}>
                {{ partial "icon.html" .Pre }}
            </span>
            {{ end }}
            <p class="text-xs font-light text-gray-500 hover:text-gray-900" title="{{ .Title }}">
                {{ .Name | markdownify | emojify }}
            </p>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}

{{ if .Site.Params.highlightCurrentMenuArea }}
<script>
    (function () {
        var $mainmenu = $('.main-menu');
        var path = window.location.pathname;
        $mainmenu.find('a[href="' + path + '"]').each(function (i, e) {
            $(e).children('p').addClass('active');
        });
        // Add the click event of the first level menu to realize the expansion and collapse of the menu
        document.querySelectorAll('#menu-wrapper .mt-1').forEach((parent) => {
            parent.style.width = '7rem';
            parent.style.textAlign = 'left';
            if (parent.querySelector('span') !== null) {
                parent.addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    const root = document.querySelector('#menu-wrapper');
                    root.style.display = 'block';
                    if (this.classList.contains('menu-show')) {
                        this.classList.remove('menu-show');
                    } else {
                        this.classList.add('menu-show');
                    }
                    // Find the second-level menu li corresponding to the first-level menu and display or hide it according to the style
                    var nextLiElements = [];
                    var nextSibling = this.nextSibling;
                    while (nextSibling) {
                        if (nextSibling.nodeType === 1 && nextSibling.classList.contains('mb-2')) {
                            break;
                        }
                        if (nextSibling.nodeType === 1 && nextSibling.tagName.toLowerCase() === 'li') {
                            nextLiElements.push(nextSibling);
                        }
                        nextSibling = nextSibling.nextSibling;
                    }

                    nextLiElements.forEach(function(nextLi) {
                        nextLi.style.display = parent.classList.contains('menu-show') ? 'block' : 'none'
                    });
                })
            }
            if (parent.querySelector('a')?.querySelector('p.text-sm')) {
                parent.style.display = 'none';
            }
        });
        document.querySelectorAll('#menu-wrapper .mb-2').forEach((node) => {
            node.style.display = 'none';
        });
    })();
</script>
{{ end }}

{{ $styles := resources.Get "css/styles.css" }}
{{ if $styles }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ end }}
